$redlight: #e5554b;
$blue1: #3feee6;
$blue2: #55bcc9;
$blue3: #97caef;
$blue4: #cafafe;
:root{
	--red: #fc4445;
	--bluebg: #ebfefd;
	--sidebarhover: #faebeb;
	--redbg: #faebeb;
	--reddark: #c23937;
	--oppositetext: #FFF;
}
