@import "../../styles/base.scss";
@import "../../styles/palette";

@media (prefers-color-scheme: dark) {
	@import "../../styles/palette_dark";
}


.sidebar-header{
	font-size: 1.2rem;
	margin-top: 0;
}

summary {
	cursor: pointer;
}

nav {
	padding: 1rem;
	background-color: var(--bluebg);
	height: 100vh;
	position: sticky;
	top: 0;
	overflow-y: scroll;
	width: 10em;
}

hr {
	width: calc(100% + 2rem);
	margin-left: -1rem;
	height: 1px;
	border: none;
	background: linear-gradient(to right, var(--bluebg), var(--redbg), var(--redbg));
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 0.5em;
	margin-top: 0;
}

.endpoint-link {
	display: block;
}

summary {
	padding: 0.5em 0;
}

li:hover {
	background-color: var(--sidebarhover);
}