@import "../../styles/base.scss";
@import "../../styles/palette";
@import "../../styles/hamburgers/hamburgers.scss";

@media (prefers-color-scheme: dark) {
	@import "../../styles/palette_dark";
}


.sidebar-header{
	font-size: 1.2rem;
	margin-top: 0;
}

summary {
	cursor: pointer;
}

nav {
	padding: 1rem;
	background-color: var(--bluebg);
	height: calc(100vh - 1rem);
	position: sticky;
	top: 0;
	overflow-y: auto;
	width: 10em;
}

hr {
	width: calc(100% + 2rem);
	margin-left: -1rem;
	height: 1px;
	border: none;
	background: linear-gradient(to right, var(--bluebg), var(--redbg), var(--redbg));
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 0.5em;
	margin-top: 0;
}

.endpoint-link {
	display: block;
	text-decoration: none;
	color: inherit;
}

.primary-link {
	display: block;
	padding: 0.5em 0;
	text-decoration: none;
	color: inherit;
}

.primary-link:hover {
	background-color: var(--sidebarhover);
}

summary {
	padding: 0.5em 0;
}

li:hover {
	background-color: var(--sidebarhover);
}

@media screen and (max-width: 750px) {

	nav {
		position: absolute;
		top: 100vh;
		width: 100%;
		text-align: center;
		font-size: 1.2rem;
		padding-bottom: 7rem;
		box-sizing: border-box;
		height: 100%;
		transition: top 200ms ease-in;
		z-index: 5;
	}

	nav.hidden {
		display: none;
	}

	nav.mobile-visible {
		top: 0;
		transition: top 200ms ease-out;
	}

	.sidebar-header {
		font-size: 1.7rem;
	}

	.hamburger {
		position: fixed;
		transform: translate(-50%, 50%);
		left: 50%;
		bottom: 3.75rem;
		background-color: #c23937;
		width: 4.5rem;
		height: 4.5rem;
		border-radius: 50%;
		transition: background-color 400ms;
		z-index: 10;
	}

	nav:not(.mobile-visible)+.hamburger {
		background-color: var(--reddark);
	}

	.hamburger:not(.is-active):not(.unclicked) {
		animation: bouncesize2 400ms 1;
	}

	.hamburger.is-active {
		animation: bouncesize 400ms 1;
	}

	.hamburger:hover {
		opacity: 1 !important;
		filter: brightness(1.1) !important;
	}

	.hamburger:not(.is-active) .hamburger-inner,
	.hamburger:not(.is-active) .hamburger-inner::before,
	.hamburger:not(.is-active) .hamburger-inner::after {
		background-color: var(--oppositetext);
	}

	.hamburger.is-active .hamburger-inner,
	.hamburger.is-active .hamburger-inner::after,
	.hamburger.is-active .hamburger-inner::before {
		background-color: #FFF;
	}
}

@keyframes bouncesize {
	0% {width: 4.5rem; height: 4.5rem}
	50% {width: 6rem; height: 6rem}
	100% {width: 4.5rem; height: 4.5rem}
}

@keyframes bouncesize2 {
	0% {width: 4.5rem; height: 4.5rem}
	50% {width: 6rem; height: 6rem}
	100% {width: 4.5rem; height: 4.5rem}
}